@{
    ViewData["Title"] = "Index";
}
@model HoldingModel
<div class="d-flex justify-content-center">
    <p>
        <strong>Holdings</strong>
    </p>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Holding Name</th>
            <th>Redaction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Holding holding in Model.Holdings)
        {
            <tr>
                <td>
                    <span class="click-holding-name">@holding.Name</span>
                    <input type="text" name="name" value="@holding.Name" id="@holding.Id" class="holding-name d-none" />
                </td>
                <td>
                    <a href="/Payroll/Admin/DeleteHolding/@holding.Id">Delete</a>
                </td>
            </tr>
        }
        <tr>
            <td><a href="javascript:void(0);" class="btn btn-info" data-toggle="modal" data-target="#HoldingModal"><i class="fas fa-plus-circle"></i>Add New Holding</a></td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="HoldingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Holding</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Holding">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name*</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>